<div class= "container">
  <header class= "jumbotron">
    <h1>Super Rentals</h1>
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'https://www.facebook.com/'}}Click here to go to Facebook.{{/link-to}}
    {{#link-to 'https://www.linkedin.com/'}}Click here to go to Linkedin.{{/link-to}}
  </header>
    {{outlet}}
  <hr>
  <footer>

  </footer>
</div>
