<div class="well">
  <p>Pose your questions on tech related subjects here. A basic message board site to answer tech qs.</p>
</div>
<div class="well">
  <h3>List of questions.</h3>
  {{new-question saveQuestion="saveQuestion"}}
  <ul>
    {{#each model.questions as |question|}}
      {{question-tile question=question}}
    {{/each}}
  </ul>
</div>
